---
Language: Cpp
BasedOnStyle: Google
ColumnLimit: 100
Standard: Latest

AlignConsecutiveDeclarations:
  Enabled: true
  AcrossEmptyLines: false
  AcrossComments: false

AlwaysBreakTemplateDeclarations: Yes
BreakBeforeConceptDeclarations: Always

IncludeBlocks: Regroup
SortIncludes: CaseSensitive
