---
Language: Cpp
BasedOnStyle: Google
ColumnLimit: 100
Standard: Latest

AlwaysBreakTemplateDeclarations: Yes
BreakBeforeConceptDeclarations: Always

IncludeBlocks: Regroup
SortIncludes: CaseSensitive
