---
InheritParentConfig: true
Checks: >
  -*,
  bugprone-*,
  -bugprone-chained-comparison,
  -bugprone-exception-escape,
  -bugprone-unchecked-optional-access,
  cert-*,
  -cert-err58-cpp,
  clang-analyzer-*,
  -clang-analyzer-optin.core.EnumCastOutOfRange,
  google-*,
  -google-build-using-namespace,
  misc-*,
  -misc-const-correctness,
  modernize-*,
  performance-*,
  readability-*,
  -readability-identifier-length,
  -readability-function-cognitive-complexity,
  -readability-magic-numbers
